.odd {
	background-color: lightpink;
	font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#cooler {
	font-size: 24px;
}

#two {
	color: blue;
	font-size: 36px;
}

#four {
	background-color: lightgreen;
	font-weight: bold;
	font-size: 24px;
}

.even {
	font-family: "Times New Roman", Times;
}

#six {
	font-size: 24px;
	border: 3px;
	border-style: dotted;
	border-color: gray;

}

#seven {
	font-size: 36px;
	border: 3px;
	border-style: dotted;
	border-color: orangered;
	font-family: "Give You Glory";
}