body {
	background-color: #D6CFCB;
	margin: 0px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #565264;
	padding: 25px;
	margin: 0px;
	color: white;
	font-family: "Henny Penny";
	text-align: center;
}

.question {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #706677;
	padding: 10px;
	margin: 0px;
	color: white;
	font-family: "Henny Penny";
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
}

.option {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-wrap: wrap;
}

.img {
	object-fit: contain;
	width: 200px;
	height: 300px;
	object-fit: cover;
}

.container1 {
	background-color: white;
	padding: 5px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*
input[type="radio"] {
  margin: 10px;
}
*/

label {
	margin: 10px;
}

button {
	padding: 20px;
	margin: 30px;
	font-size: 20px;
	font-family: "Henny Penny";
	background-color: #706677;
	color: white;
	border-style: outset;
	border-color: #565264;
}

button:hover {
	background-color: #9e8fa8;
}

.reveal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#answer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 5px;
	margin: 20px;
}

#trend {
	font-family: "Henny Penny";
	font-size: 50px;
	padding: 0px;
}

#result {
	width: 300px;
}

#explanation {
	font-size: 20px;
	padding: 10px;
	text-align: center;
}